//background



.bg-gray{
    background-color:$secondaryColor;
}


//textos


*{
    font-family: 'Poppins', sans-serif;
}

h1{
    color: rgb(39, 119, 173);
    font-size: $fontXl;
   
}

h2{
    color: rgb(158, 34, 142);
    font-size: $fontL;
}


h3{
    font-size: $fontM;
}